*,
html {
    margin: 0;
    padding: 0;
}

.container {}

.container-navbar {
    background-color: crimson;
    width: 100%;
    height: 10vh;
}

.ul-navbar {
    display: flex;
    height: 100px; 
    justify-content: center;
    align-items: center;
}

.li-navbar {
    font-size: 30px; 
    list-style-type: none;
    padding: 20px;
    color: white;
    margin: 5px;
}

.li-navbar:hover {
    background-color: crimson;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    transition-delay: 0.3s;
}

.a-navbar {
    color: white;
    text-decoration: none;
    font-weight: 800;
}

.container-content {
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.a-content {
    background-color: white;
    color: black;
    text-decoration: none;
    font-size: 30px;
    width: 720px;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 80px;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000;
}

.img-content {
    width: 30%;
    height: 30%;
}

.container-footer {
    background-color: crimson;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;                              
}

.h1-footer {
    font-size: 40px;
}